body {
	background-color: green;
}

#header, #footer {
	height: 150px;
}

#header {
	background-color: gray;
	height: 150px;
}

#left, #right {
	background-color: lightgray;
	height: 768px;
	width: 150px;
}

#left {
	float: left;
}

#right {
	float: right;
}

#footer {
	position: absolute;
	top: 700px;
	color: black;
}